/* styles.css */

/* Background Gradient for Depth */
body {
  background: linear-gradient(to bottom, #e6e6fa 0%, #9688d7 100%);
}

/* Existing Purple color */
.purple-text {
  color: #4b0082; /* Purple text color */
}

/* Existing White color */
.white-text {
  color: #ffffff; /* White text color */
}

/* Styling for the form container */
.form-container {
  max-width: 24rem; /* Adjust the max-width as needed */
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(to bottom, #e6e6fa 0%, #c0c0e0 100%); /* Lavender to purple gradient background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Styling for the form */
form {
  border: 2px solid #4b0082; /* Purple border */
  padding: 1.5rem;
  border-radius: 0.5rem;
}

/* Styling for the heading */
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #4b0082; /* Purple text color for the heading */
}

/* Styling for the input container */
.input-container {
  position: relative;
}

/* Styling for the remember and forgot section */
.remember-and-forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

/* Styling for the login link */
Link {
  color: #4b0082; /* Purple text color for the link */
  text-decoration: none;
}

.login-button {
  background-color: #e6e6fa; /* Lavender background color for the button */
  color: #ffffff; /* White text color */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for smooth color change on hover */
}

/* Hover effect for the login button */
.login-button:hover {
  background-color: #c0c0e0; /* Darker lavender on hover */
}

/* Styling for the register button */
.register-button {
  color: #4b0082; /* Purple text color for the button */
  margin-top: 1rem;
}
/* Styling for the form container */
.border {
  background-color:whitesmoke; /* Solid cream color */
  padding: 1.5rem; /* Add padding to maintain space inside the box */
}

/* Responsive styling for small screens */
@media (max-width: 768px) {
  .form-container {
    max-width: 100%;
  }
}


